/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/* STATES AND INPUT GROUP VARIABLES
    ------------------------------------*/
/*   TEMPORARY VARIABLES FOR OPERATIONS
    ------------------------------------*/
/*   CREATING SCSS USABLE VARIABLES FOR INTERPOLATION
    ------------------------------------*/
/*   FUNCTIONAL VARIABLES FOR INPUTS AND STATES
    ------------------------------------*/
/* COLOR AND FONT VARIABLES
TODO: SEPARATE COLOR ON FUNCTIONS
    ------------------------------------*/
/*$errorMainColor: #b94a48;*/
/*$errorBorderColor: #953b39;*/
/* MAIN STYLE FOR FORM
    ------------------------------------*/
/* line 99, ../../sass/components/wsform.scss */
.wsform {
  /* TWITTER BOOTSTRAP FORM STYLE
    ------------------------------------*/
  /* STATES STYLES
      ------------------------------------*/
  /* Messages
     ------------------------------------*/
  /* ARROW BUTTON STYLES
     -----------------------------------*/
}
/* line 101, ../../sass/components/wsform.scss */
.wsform .component-content {
  background-color: #EEECE4;
  padding: 0 1em;
}
/* line 109, ../../sass/components/wsform.scss */
.wsform form {
  margin: 0 0 20px;
}
/* line 113, ../../sass/components/wsform.scss */
.wsform fieldset {
  border: 0;
  margin: 15px 0;
  min-width: 0;
}
/* line 120, ../../sass/components/wsform.scss */
.wsform legend,
.wsform h2 {
  border-bottom: 1px solid #998A7C;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
/* line 129, ../../sass/components/wsform.scss */
.wsform fieldset legend {
  display: table;
  white-space: normal;
  margin-right: 10px;
}
/* line 139, ../../sass/components/wsform.scss */
.wsform label,
.wsform input,
.wsform button,
.wsform select,
.wsform textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  max-width: 100%;
}
/* line 146, ../../sass/components/wsform.scss */
.wsform textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  min-width: 200px;
}
/* line 155, ../../sass/components/wsform.scss */
.wsform input,
.wsform button,
.wsform select,
.wsform textarea {
  font-family: Arial, sans-serif;
}
/* line 159, ../../sass/components/wsform.scss */
.wsform label {
  display: block;
  margin-bottom: 5px;
}
/* line 167, ../../sass/components/wsform.scss */
.wsform select,
.wsform textarea,
.wsform input[type="email"], .wsform input[type="number"], .wsform input[type="password"], .wsform input[type="search"], .wsform input[type="tel"], .wsform input[type="text"], .wsform input[type="url"], .wsform input[type="color"], .wsform input[type="date"], .wsform input[type="DATEPICKER"], .wsform input[type="datetime"], .wsform input[type="datetime-local"], .wsform input[type="month"], .wsform input[type="time"], .wsform input[type="week"],
.wsform .uneditable-input {
  display: inline-block;
  height: 35px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #c9bfb8;
  vertical-align: middle;
}
/* line 180, ../../sass/components/wsform.scss */
.wsform input,
.wsform textarea,
.wsform .uneditable-input {
  width: 206px;
}
/* line 184, ../../sass/components/wsform.scss */
.wsform fieldset textarea {
  resize: vertical;
  width: 100%;
}
/* line 189, ../../sass/components/wsform.scss */
.wsform textarea {
  height: auto;
}
/* line 196, ../../sass/components/wsform.scss */
.wsform select,
.wsform textarea,
.wsform input[type="email"], .wsform input[type="number"], .wsform input[type="password"], .wsform input[type="search"], .wsform input[type="tel"], .wsform input[type="text"], .wsform input[type="url"], .wsform input[type="color"], .wsform input[type="date"], .wsform input[type="DATEPICKER"], .wsform input[type="datetime"], .wsform input[type="datetime-local"], .wsform input[type="month"], .wsform input[type="time"], .wsform input[type="week"],
.wsform .uneditable-input {
  background-color: white;
  border: 1px solid transparent;
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 205, ../../sass/components/wsform.scss */
.wsform select:focus,
.wsform textarea:focus,
.wsform input[type="email"]:focus, .wsform input[type="number"]:focus, .wsform input[type="password"]:focus, .wsform input[type="search"]:focus, .wsform input[type="tel"]:focus, .wsform input[type="text"]:focus, .wsform input[type="url"]:focus, .wsform input[type="color"]:focus, .wsform input[type="date"]:focus, .wsform input[type="DATEPICKER"]:focus, .wsform input[type="datetime"]:focus, .wsform input[type="datetime-local"]:focus, .wsform input[type="month"]:focus, .wsform input[type="time"]:focus, .wsform input[type="week"]:focus,
.wsform .uneditable-input:focus {
  border-color: rgba(255, 102, 0, 0.8);
  color: #323131;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 0, 0.6);
}
/* line 215, ../../sass/components/wsform.scss */
.wsform input + .help-block,
.wsform select + .help-block,
.wsform textarea + .help-block,
.wsform .uneditable-input + .help-block {
  margin-top: 10px;
}
/* line 223, ../../sass/components/wsform.scss */
.wsform input,
.wsform textarea,
.wsform select,
.wsform .help-inline,
.wsform .uneditable-input {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}
/* line 232, ../../sass/components/wsform.scss */
.wsform input[type="radio"],
.wsform input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}
/* line 245, ../../sass/components/wsform.scss */
.wsform input[type="file"],
.wsform input[type="image"],
.wsform input[type="submit"],
.wsform input[type="reset"],
.wsform input[type="button"],
.wsform input[type="radio"],
.wsform input[type="checkbox"] {
  width: auto;
}
/* line 250, ../../sass/components/wsform.scss */
.wsform select,
.wsform input[type="file"] {
  height: 43px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 43px;
  padding: 12px 10px;
}
/* line 259, ../../sass/components/wsform.scss */
.wsform select {
  width: 220px;
  background-color: white;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("../../img/arrow-down-select.png") right center no-repeat;
  text-indent: 0.01px;
  text-overflow: "";
  outline: 0;
  line-height: 1em;
}
/* line 272, ../../sass/components/wsform.scss */
.wsform select::-ms-expand {
  display: none;
}
/* line 277, ../../sass/components/wsform.scss */
.wsform select[multiple],
.wsform select[size] {
  height: auto;
}
/* line 282, ../../sass/components/wsform.scss */
.wsform .uneditable-input,
.wsform .uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025);
}
/* line 290, ../../sass/components/wsform.scss */
.wsform .uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
/* line 295, ../../sass/components/wsform.scss */
.wsform .uneditable-textarea {
  width: auto;
  height: auto;
}
/* line 305, ../../sass/components/wsform.scss */
.wsform input:-moz-placeholder,
.wsform textarea:-moz-placeholder,
.wsform input:-ms-input-placeholder,
.wsform textarea:-ms-input-placeholder,
.wsform input::-webkit-input-placeholder,
.wsform textarea::-webkit-input-placeholder {
  color: #999999;
}
/* line 309, ../../sass/components/wsform.scss */
.wsform .form-actions {
  padding-left: 180px;
}
/* line 313, ../../sass/components/wsform.scss */
.wsform .hide {
  display: none;
}
/* line 318, ../../sass/components/wsform.scss */
.wsform .radio,
.wsform .checkbox {
  min-height: 20px;
  padding-left: 20px;
}
/* line 324, ../../sass/components/wsform.scss */
.wsform .radio input[type="radio"],
.wsform .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -22px;
}
/* line 330, ../../sass/components/wsform.scss */
.wsform .wsform-controls,
.wsform .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
/* line 336, ../../sass/components/wsform.scss */
.wsform .wsform-controls:first-child,
.wsform .controls:first-child {
  *padding-left: 180px;
}
/* line 342, ../../sass/components/wsform.scss */
.wsform .wsform-controls > .radio:first-child,
.wsform .wsform-controls > .checkbox:first-child {
  padding-top: 5px;
}
/* line 347, ../../sass/components/wsform.scss */
.wsform .radio.inline,
.wsform .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
/* line 355, ../../sass/components/wsform.scss */
.wsform .radio.inline + .radio.inline,
.wsform .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
/* line 361, ../../sass/components/wsform.scss */
.wsform input,
.wsform textarea,
.wsform .uneditable-input {
  margin-left: 0;
}
/* line 365, ../../sass/components/wsform.scss */
.wsform .wsform-controls-row {
  *zoom: 1;
}
/* line 368, ../../sass/components/wsform.scss */
.wsform .wsform-controls-row:before, .wsform .wsform-controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 373, ../../sass/components/wsform.scss */
.wsform .wsform-controls-row:after {
  clear: both;
}
/* line 383, ../../sass/components/wsform.scss */
.wsform input[disabled],
.wsform select[disabled],
.wsform textarea[disabled],
.wsform input[readonly],
.wsform select[readonly],
.wsform textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
/* line 388, ../../sass/components/wsform.scss */
.wsform input[readonly].hasDatepicker {
  cursor: pointer;
  background-color: #fff;
}
/* line 396, ../../sass/components/wsform.scss */
.wsform input[type="radio"][disabled],
.wsform input[type="checkbox"][disabled],
.wsform input[type="radio"][readonly],
.wsform input[type="checkbox"][readonly] {
  background-color: transparent;
}
/* line 403, ../../sass/components/wsform.scss */
.wsform .wsform-label {
  float: left;
  width: 160px;
  padding-top: 15px;
  text-align: left;
  font-weight: bold;
  line-height: normal;
}
/* line 414, ../../sass/components/wsform.scss */
.wsform .wsform-message {
  display: none;
  margin: 10px 0;
  padding: 0 10px;
}
/* line 419, ../../sass/components/wsform.scss */
.wsform .wsform-message a {
  color: #333;
}
/* line 422, ../../sass/components/wsform.scss */
.wsform .wsform-message a:hover {
  color: #000;
}
/* line 427, ../../sass/components/wsform.scss */
.wsform .wsform-message.wsform-success {
  background-color: #dff2bf;
  border: 1px solid #89b15f;
  color: #468847;
}
/* line 433, ../../sass/components/wsform.scss */
.wsform .wsform-message.wsform-failure {
  background-color: #FEEFB3;
  border: 1px solid #BF9555;
  color: #996A25;
}
/* line 439, ../../sass/components/wsform.scss */
.wsform .wsform-message.wsform-error {
  background-color: #ffbaba;
  border: 1px solid #e53e46;
  color: #c6080e;
}
/* line 445, ../../sass/components/wsform.scss */
.wsform .wsform-message.wsform-info {
  background-color: #bde5f8;
  border: 1px solid #3f83ba;
  color: #0F62A6;
}
/* line 453, ../../sass/components/wsform.scss */
.wsform .wsform-hint,
.wsform .mandatory-marker {
  color: #c6080e;
}
/* line 457, ../../sass/components/wsform.scss */
.wsform .wsform-hint-server {
  display: none;
}
/* line 463, ../../sass/components/wsform.scss */
.wsform input:focus:invalid,
.wsform textarea:focus:invalid,
.wsform select:focus:invalid {
  color: #c6080e;
  border-color: #ee5f5b;
}
/* line 470, ../../sass/components/wsform.scss */
.wsform input:focus:invalid:focus,
.wsform textarea:focus:invalid:focus,
.wsform select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
/* line 476, ../../sass/components/wsform.scss */
.wsform .help-block,
.wsform .help-inline {
  color: #595959;
}
/* line 480, ../../sass/components/wsform.scss */
.wsform .help-block {
  display: block;
  margin-bottom: 0;
}
/* line 485, ../../sass/components/wsform.scss */
.wsform .help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}
/* line 493, ../../sass/components/wsform.scss */
.wsform .wsform-item {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 498, ../../sass/components/wsform.scss */
.wsform .wsform-item:before, .wsform .wsform-item:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 503, ../../sass/components/wsform.scss */
.wsform .wsform-item:after {
  clear: both;
}
/* line 509, ../../sass/components/wsform.scss */
.wsform .wsform-item .wsform-controls a {
  margin-right: 15px;
  padding-left: 10px;
  position: relative;
}
/* line 514, ../../sass/components/wsform.scss */
.wsform .wsform-item .wsform-controls a:after {
  content: '>';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}
/* line 529, ../../sass/components/wsform.scss */
.wsform legend + .wsform-item,
.wsform h2 + .wsform-item,
.wsform h2 + .wsform-result + .wsform-item {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
/* line 534, ../../sass/components/wsform.scss */
.wsform .radio input[type="radio"] {
  width: 20px;
  float: none;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 542, ../../sass/components/wsform.scss */
.wsform .radio .radio-label-text {
  line-height: 13px;
  vertical-align: baseline;
}
/* line 551, ../../sass/components/wsform.scss */
.wsform .button-arrow-left button,
.wsform .button-arrow-right button {
  position: relative;
  box-shadow: none;
  height: 28px;
  overflow: visible;
}
/* line 558, ../../sass/components/wsform.scss */
.wsform .button-arrow-left button {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 20px;
}
/* line 565, ../../sass/components/wsform.scss */
.wsform .button-arrow-right button {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 20px;
}
/* line 573, ../../sass/components/wsform.scss */
.wsform .button-arrow-left button:after,
.wsform .button-arrow-right button:after {
  content: ' ';
  width: 19px;
  height: 19px;
  display: inline-block;
  position: absolute;
  top: 3px;
  background-color: #e1e1e1;
  border: 2px solid #656363;
  box-shadow: none;
}
/* line 585, ../../sass/components/wsform.scss */
.wsform .button-arrow-left button:after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  left: -10px;
  border-width: 0px 1px 1px 0px;
  border-bottom-right-radius: 5px;
}
/* line 596, ../../sass/components/wsform.scss */
.wsform .button-arrow-right button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -10px;
  border-width: 1px 1px 0px 0px;
  border-top-right-radius: 5px;
}
/* line 608, ../../sass/components/wsform.scss */
.wsform .button-arrow-left button:hover:after,
.wsform .button-arrow-right button:hover:after {
  background-color: #939191;
}

/* IE STYLES
    ------------------------------------*/
/* line 620, ../../sass/components/wsform.scss */
.lt-ie9 .wsform fieldset {
  position: relative;
  margin: 10px;
}
/* line 625, ../../sass/components/wsform.scss */
.lt-ie9 .wsform fieldset legend {
  position: relative;
  top: -0.7em;
  left: 0.5em;
  margin-right: 20px;
}
/* line 632, ../../sass/components/wsform.scss */
.lt-ie9 .wsform fieldset legend span {
  display: block;
  width: 100%;
}
/* line 637, ../../sass/components/wsform.scss */
.lt-ie9 .wsform .input-focus-border-fix {
  border-color: #ff6600;
}
/* line 641, ../../sass/components/wsform.scss */
.lt-ie9 .wsform .button {
  border: 1px solid #656363;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}
/* line 649, ../../sass/components/wsform.scss */
.lt-ie9 .wsform .button-arrow-left button:after,
.lt-ie9 .wsform .button-arrow-right button:after {
  position: static;
  border: none;
  display: inline;
}
/* line 655, ../../sass/components/wsform.scss */
.lt-ie9 .wsform .button-arrow-left button:before {
  content: "<<";
  padding-right: 5px;
}
/* line 660, ../../sass/components/wsform.scss */
.lt-ie9 .wsform .button-arrow-right button:after {
  content: ">>";
  padding-left: 5px;
}

/* line 673, ../../sass/components/wsform.scss */
.lt-ie8 .wsform fieldset legend {
  top: -0.5em;
}
/* line 677, ../../sass/components/wsform.scss */
.lt-ie8 .wsform .button {
  display: inline;
}
/* line 682, ../../sass/components/wsform.scss */
.lt-ie8 .wsform .button-arrow-left button,
.lt-ie8 .wsform .button-arrow-right button {
  position: static;
}

/* MEDIA QUERIES
    ------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 697, ../../sass/components/wsform.scss */
  .wsform .radio input[type="radio"] {
    height: 14px;
  }
  /* line 701, ../../sass/components/wsform.scss */
  .wsform .wsform-item {
    margin-bottom: 10px;
  }
  /* line 705, ../../sass/components/wsform.scss */
  .wsform .checkboxField .control-label {
    float: left;
  }
  /* line 709, ../../sass/components/wsform.scss */
  .wsform .wsform-label {
    float: none;
    width: 160px;
    padding-top: 5px;
    text-align: left;
  }
  /* line 717, ../../sass/components/wsform.scss */
  .wsform .wsform-controls,
  .wsform .controls {
    margin-left: 0;
  }
  /* line 721, ../../sass/components/wsform.scss */
  .wsform .help-block {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 239px) {
  /* line 734, ../../sass/components/wsform.scss */
  .wsform input,
  .wsform textarea,
  .wsform .uneditable-input {
    width: 200px;
  }
  /* line 738, ../../sass/components/wsform.scss */
  .wsform select {
    width: 200px;
  }
}
/* NO JS STYLES
    ------------------------------------*/
/* line 751, ../../sass/components/wsform.scss */
.no-js .clearButton {
  display: none;
}
