/* Health Profesional Amrendra*/

.your-patient-card-overlap {
  position: relative;

  .card-content {
    padding: 2rem;
    position: absolute;
    top: 0;
  }

  .giant-font {
    .blog-fit-content {
      @extend .d-block;
      width: fit-content;
      @extend .text-color-white;
    }
  }
}

.bg-grey-border {
  .border-right {
    border-bottom: 2px solid $color-3;
    border-right: none;
    @include sm {
      border-right: 2px solid $color-3;
      border-bottom: none;
    }
  }
  .left-area {
    padding-right: 0;
    @include sm {
      padding-right: 4.375rem !important;
    }
  }
  .right-area {
    padding-left: 0;
    @include sm {
      padding-left: 4.375rem !important;
    }
    .heading {
      padding-top: 2rem;
      @include sm {
        padding-top: 0;
      }
    }
  }
}
.media-image {
  @extend .bottom-right-arrow;
}

/* Health pro End */

.scroll-down-arrow {
  position: absolute;
  bottom: -0.5rem;
  a {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    text-align: center;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 992px) {
  .card-text-image-small {
    > .component-content > .paragraphSystem {
      flex-direction: column !important;
      flex-wrap: initial;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-text-image {
    > .component-content > .paragraphSystem {
      flex-direction: column !important;
      flex-wrap: initial;
    }
    .bottom-pos-0 {
      position: relative !important;
    }
  }
}
