.carousel{
  img{
    width: 100%;
  }
  &.carousel-with-img-arrow-links{
    .image{
      @extend .bottom-right-arrow;
    }
  }
  &.carousel-top-arrow-nav{
    .lSSlide {
      margin-top: 3rem;
    }
    .lSAction{
      a{
        background-image: none;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: $color-white;
        border-radius: 30px;
        &:after {
          font-family: 'icomoon';
        }
        &.lSPrev {
          &:after {
            content: '\e906';
          }
        }
        &.lSPrev {
          &:after {
            content: '\e907';
          }
        }
      }
    }
  }
  .youtube-player > img {
    position: relative;
  }
}

