.profile-card-content {
  flex-basis: auto;
  padding: 1rem 1.5rem;
  @include sm {
    padding: 1rem;
  }
}
.profile-card-list-wrapper {
  .media-container,
  .profile-card-content {
    flex-basis: 100%;
  }
  .image {
    @extend .bottom-right-arrow;
    @extend .arrow-size-small;
  }
}
.profile-hero-banner {
  @include sm {
    .media-container,
    .profile-card-content {
      width: 50%;
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  .image::after {
    display: none;
  }
}
.profile-hero-banner {
  .profile-card-content {
    @include sm {
      padding: 1rem 3rem;
    }
  }
}

.image-bg-strip {
  display: none;
  @include sm {
    display: block;
  }
  &::before {
    @include sm {
      content: '';
      width: 100%;
      background: var(--bg-color-2);
      display: block;
      /* height: 100%; */
      position: absolute;
      /* left: -100vw; */
      z-index: 1;
      height: 40px;
      top: 42%;;
    }
    @include sd {
      height: 60px;
      top: calc(5rem + 150px);
    }
    @include md {
      height: 70px;
      top: calc(5rem + 150px);
    }
    @media screen and (min-width: 1280px) and (max-width: 1440px) {
      height: 80px;
     top: calc(8rem + 160px);
    }
    @media screen and (min-width: 1441px) {
      height: 90px;
      top: calc(10rem + 185px);
    }
  }
}
