.profile-card-list-wrapper {
  padding: 0 .5rem !important;
  .media-container {
    flex-basis: 100%;
  }
  .profile-card-content {
    flex-basis: auto;
    background-color: $color-grey-3;
    padding: 1rem;
    width: 100%;
    p {
      margin: 0;
    }
  }
}
.profile-hero-banner {
  @include sm {
    .media-container,
    .profile-card-content {
      width: 50% !important;
      max-width: 50% !important;
      flex-basis: 50% !important;
      background-color: $color-white;
      &::after {
        display: none;
      }
    }
  }
}
