.leader-card-design {
  .media-container {
    flex-basis: 100%;
  }
  .card-content-container {
    flex-basis: auto;
    background-color: $color-grey-3;
    padding: 1rem;
    width: 100%;
    p {
      margin: 0;
    }
  }
}
.leader-card-adjust {
  .leader-card-bg {
    background-color: $color-grey-3;
  }
  .accordion {
    z-index: 0;
  }
}
.leader-card-bg {
  background: #eaeaea;
}
.profile-hero-banner{
 @include sm{
  .media-container , .card-content-container{
    width: 50% !important;
    max-width: 50% !important;
    flex-basis: 50% !important;
    background-color: $color-white;
    &::after{
      display: none;
    }
  }
}
}