.hero-banner {
  position: relative;

  .hero-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0rem;
    order: -1;
    @include sm {
      order: unset;
      padding-top: 3rem;
    }
    @media only screen and (min-width: 1023px) {
      padding-left: 0;
      padding-right: 0;
    }
    .heading {
      white-space: initial;
      padding-top: 1rem;
      @include sm {
        padding-top: 6rem;
      }
      @include sd {
        white-space: nowrap;
      }
      @include lg {
        padding-top: 8rem;
      }
    }

    .bottom-text {
      position: relative;

      @include sm {
        padding-left: 0 !important;
        position: absolute;
        bottom: 0;
        line-height: $line-height-150;
      }
    }
    .bordered-text {
      border-bottom: 2px solid var(--border-color-2);
    }
  }
}
