.positioned-banner-wrapper {
  .banner-text {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 2rem;
    top: -5rem;
    -webkit-box-shadow: 0px 16px 40px -8px #0000001a;
    box-shadow: 0px 16px 40px -8px #0000001a;
    background-color: #fff;
    @include sm {
      top: 50%;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &.right-positioned {
    .banner-text {
      @include sm {
        right: 0;
        left: auto;
      }
    }
  }
  &.left-positioned {
    .banner-text {
      @include sm {
        left: 0;
        right: auto;
      }
    }
  }
}
.content-over-image {
  @include sm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
