.positioned-banner-wrapper {
  .banner-text {
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 2rem;
    top: -5rem;
    -webkit-box-shadow: 0px 16px 40px -8px #0000001a;
    box-shadow: 0px 16px 40px -8px #0000001a;
    background-color: #fff;

    @include sm {
      top: 50%;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &.banner-width-50percent {
        min-width: calc(100% / 2 + 4rem);
      }
    }
  }

  &.right-positioned {
    .banner-text {
      @include sm {
        right: 0;
        left: auto;
      }
    }
  }

  &.left-positioned {
    .banner-text {
      @include sm {
        left: 0;
        right: auto;
      }
    }
  }

  &.bottom-positioned {
    .banner-text {
      position: relative;
      top: -5rem;
      transform: translateX(-50%);
      @include md {
        z-index: 1;
        top: auto;
        margin-right: 2rem;
        right: 0;
        left: auto;
      }
    }
  }
}

.content-over-image {
  @include sm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.bottom-positioned{
  -webkit-box-shadow: 0px 16px 40px -8px #0000001a;
    box-shadow: 0px 16px 40px -8px #0000001a;
    background-color: #fff;
    padding: 2rem;
    margin: -6rem auto 2rem;
    @include md{
      margin: -6rem 3rem 2rem;
      float: right;
    }
}