@font-face {
  font-family: 'NewHeroAccess-Super';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-Super.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-ExtraBold';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-ExtraBold.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-Bold';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-Bold.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-BoldItalic';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-BoldItalic.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-SemiBold';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-SemiBold.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-Medium';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-Medium.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-MediumItalic';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-MediumItalic.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-Regular';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-Regular.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'NewHeroAccess-RegularItalic';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/NewHeroAccess-RegularItalic.ttf');
  font-display: auto;
  font-stretch: normal;
}
/* Verdana font for fallback */

@font-face {
  font-family: 'Verdana';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/Verdana.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'Verdana Bold Italic';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/Verdana-Bold-Italic.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'Verdana Bold';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/Verdana-Bold.ttf');
  font-display: auto;
  font-stretch: normal;
}

@font-face {
  font-family: 'Verdana Italic';
  src: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/fonts/Verdana-Italic.ttf');
  font-display: auto;
  font-stretch: normal;
}
:root {
  --font-family-default: 'NewHeroAccess-Regular', 'Verdana', sans-serif;
  font-variant-numeric: ordinal;
  -moz-font-feature-settings: 'ordn';
  -webkit-font-feature-settings: 'ordn';
  font-feature-settings: 'ordn';
}

$font-family-default: 'NewHeroAccess-Regular', 'Helvetica Neue', arial;
$font-family-regular: $font-family-default;
$font-family-regularitalic: 'NewHeroAccess-RegularItalic', 'Helvetica Neue',
  arial;
$font-family-super: 'NewHeroAccess-Super', 'Helvetica Neue', arial;
$font-family-extrabold: 'NewHeroAccess-ExtraBold', 'Helvetica Neue', arial;
$font-family-bold: 'NewHeroAccess-Bold', 'Helvetica Neue', arial;
$font-family-bolditalic: 'NewHeroAccess-BoldItalic', 'Helvetica Neue', arial;
$font-family-semibold: 'NewHeroAccess-SemiBold', 'Helvetica Neue', arial;
$font-family-medium: 'NewHeroAccess-Medium', 'Helvetica Neue', arial;
$font-family-mediumitalic: 'NewHeroAccess-MediumItalic', 'Helvetica Neue', arial;
