:root {
  --font-family-default: 'hero-new', arial, sans-serif;
  font-variant-numeric: ordinal;
  -moz-font-feature-settings: 'ordn';
  -webkit-font-feature-settings: 'ordn';
  font-feature-settings: 'ordn';
}
$font-family-default: 'hero-new', arial, sans-serif;
