.giant-font {
  font-size: 2.625rem;
  line-height: $line-height-100;
  text-align: center;
  margin: 0;
  @include sd {
    font-size: 4rem;
    letter-spacing: -3px;
  }
  @include lg  {
    font-size: 5rem;
  }
}
.big-title {
  font-size: 1.5rem;
  text-align: justify;
  color: $color-white !important;
}

a{
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
  padding: inherit !important;
}