.story-right-list {
  width: 100%;
  &.first {
    @include md {
      padding-right: 1.5rem;
    }
  }
  &.last {
    @include md {
      padding-left: 1.5rem;
    }
  }
  .story-block {
    display: flex;
    margin-bottom: 1rem;
    position: relative;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
  .story-image {
    width: 40%;
    line-height: 0;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .story-content {
    width: 60%;
    padding: 1rem;
    background-color: $color-white;
    display: flex;
    align-items: center;
  }
}

.story-left-list {
  margin-bottom: 1rem;
  > .component-content {
    height: 100% !important;
  }
  @include sm {
    width: 50%;
  }
  .story-block {
    height: 100%;
    background: #fff;
    flex-direction: column;
    @include xs {
      flex-direction: row;
    }
  }
  .story-content {
    padding: 2rem;
    @include xs {
      width: 60%;
    }
  }
  .story-image {
    @include xs {
      width: 40%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
