.story-right-list {
  width: 100%;
  &.first {
    @include md {
      padding-right: 1.5rem;
    }
  }
  &.last {
    @include md {
      padding-left: 1.5rem;
    }
  }
  .story-block {
    display: flex;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
    margin-bottom: 1rem;
    position: relative;
  }
  .story-image {
    @include sm {
      width: 40%;
    }
    line-height: 0;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .story-content {
    @include sm {
      width: 60%;
    }
    padding: 1rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
  }
}

.story-left-list {
  margin-bottom: 1rem !important;
  > .component-content {
    height: 100% !important;
  }
  @include sd {
    width: 50%;
  }
  .story-block {
    height: 100%;
    background: #fff;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
  }
  .story-content {
    padding: 2rem;
    @media screen and (max-width: 767px) {
      margin-top: 15rem;
    }
    @media screen and (max-width: 480px) {
      margin-top: 0rem;
    }
    @include md {
      padding: 1rem;
    }
    @include lg {
      padding: 2rem;
    }
    @include sm {
      width: 60%;
    }
  }
  .story-image {
    @include sm {
      width: 40%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
      @media screen and (max-width: 767px) {
        height: 150%;
      }
      @media screen and (max-width: 480px) {
        height: 100%;
      }
    }
  }
}
