.heading-bg-strip {
  span {
    background: var(--bg-color-2);
    display: block;
    width: 80%;
    position: relative;
    height: 100%;
    white-space: nowrap;
    @extend .font-bold;
    @include sm {
      width: 100%;
    }
    &:before {
      content: '';
      width: 100vw;
      background: var(--bg-color-2);
      display: block;
      height: 100%;
      position: absolute;
      left: -100vw;
      top: 0;

      z-index: -1;
    }
    &:after {
      content: '';
      width: 100vw;
      background: var(--bg-color-2);
      display: block;
      height: 100%;
      position: absolute;
      right: -100vw;
      top: -100%;
      z-index: -1;
    }
    &.two-steps {
      width: 85%;
      background: transparent;
      &.one-step-lower {
        width: 100%;
        &:after {
          content: none;
        }
      }
      &.one-step-upper {
        width: 100%;
        &:before {
          content: none;
        }
      }
      @include sm {
        background: var(--bg-color-2);
        margin-left: -2rem;
        padding-left: 2rem;
      }

      &:before {
        height: 100%;
        top: 100%;
        width: 110%;
        left: -10%;

        @include sm {
          height: 100%;
          left: -100vw;
          width: 100vw;
        }
      }
      &:after {
        top: 0 !important;
      }
      &.bg-strip-170 {
        &:before {
          height: 100%;
          @include sm {
            height: 170px !important;
          }
        }
      }
      em {
        font-weight: normal;
        font-style: normal;
      }
    }
  }
}

.heading-with-bg {
  background-color: $color-primary;
  padding: 1rem;
  font-weight: $font-semi-bold;
}
.green-line {
  background: #30ea03;
  min-width: 54px;
  height: 1px;
  position: relative;
  top: -6px;
  display: inline-block;
  margin: 0 0.5rem;
}
