.card-content-wrapper {
  position: relative;
  .card-content {
    position: absolute;
    top: 0;
    padding: 2rem;
    color: $color-2;
  }
  .overlapping-text {
    position: absolute;
    left: 1rem;
    right: 2rem;
    top: 1rem;
  }
  .giant-font {
    span {
      display: block;
      width: fit-content;
      color: #ffffff !important;
    }
  }
  &.small-cards {
    margin-bottom: 2rem;
    .card-content {
      padding: 1rem;
      @include sd {
        padding: 1rem 0.5rem;
      }
    }
  }
}
