.banner-over-content {
    background-color: $color-black;
    z-index: 1;
    padding: 1rem;
    @include sm {
      padding: 2rem;
    }
  }
  .box-with-vertical-lines {
    @include sm {
      background: url('/content/dam/cf-consumer-healthcare/bp-haleon/en_US/global/icons/measure-black.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50% 100%;
    }
  }