/* carrer search box */

.career-search-wrapper {
  @include sm {
    position: absolute;
    bottom: -140px;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.var-pad > div > div > .box:first-of-type {
  @include sm {
    margin-top: 4rem !important;
  }
}

.haleon-career-search-section {
  width: 100%;
  text-align: center;
  margin: 0;
}

.haleon-career-search-input-element {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start !important;
  @include sm {
    flex-direction: row;
    justify-content: center;
  }
}

.haleon-career-search-section .haleon-career-search-card button {
  height: 48px;
  width: 48px;
  @include sm {
    width: 100px;
  }
  background: $color-primary;
  cursor: pointer;
}

.haleon-career-search-section .haleon-career-search-card img.career-search-img {
  width: 24px;
  padding: 3px;
}

.haleon-career-search-section .haleon-career-search-card {
  margin: 0 auto;
  padding: 2rem;
  background: $color-white;
  box-shadow: $box-shadow;
  max-width: 100%;
  @include sm {
    max-width: 80%;
  }
  input {
    width: 100%;
    margin: 0.5rem 0;
    max-width: 100%;
    background: $color-grey-3;
    outline: 1px solid $color-grey-3;
    padding: 1rem;
    border: none;
    height: 48px;
    @include sm {
      margin: 0 1.5rem 0 0;
    }
    &#location {
      width: calc(100% - 3.5rem) !important;
      @include sm {
        width: 100%;
      }
    }
  }
  #searchCareer {
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
    color: $color-2;
    @include sm {
      position: relative;
      bottom: auto;
      right: auto;
    }
  }
}

/* carrer search box end */
