/*stylelint-disable*/
/*
** COLORS - BASIC, LINKS, BUTTONS, BORDER
*/
$body-bg: $white;
$body-color: $color-1;
$body-text-align: null;

$primary-headings-color: $primary-text-color;
$secondary-headings-color: $secondary-text-color;

$primary-links-color: $color-2;
$primary-links-background-color: none;
$primary-links-hover-background-color: var(--bg-color-2);
$primary-links-hover-color: $color-2;
$link-text-decoration: $color-2;
$link-text-decoration-hover: transparent;
