/*stylelint-disable*/
/*
** MEGAMENU COLORS SETUP
*/

//MOBILE BASE BACKGROUND COLOR (TOP FIXED BAR)
$mobile-base-color: $white;

//MEGAMENU BACKGROUND AND TEXT
$megamenu-background-color: $white;
$megamenu-text-color: $color-6;
