.searchbox-results {
  .form-search {
    display: flex;
  }
  button {
    background-color: $color-primary !important;
    &:before {
      display: none !important;
    }
  }
  .searchBox-label {
    display: flex !important;
    width: 100%;
    input {
      display: block !important;
      width: 100%;
    }
  }
}
