.searchbox-results {
  .form-search{
    display: flex;
  }
  button {
    background-color: $color-primary;
    &:before {
      display: none !important;
    }
  }
  .searchBox-label {
    display: flex !important;
    width: 100%;
    input {
      display: block !important;

    }
  }
}