@import '../../core/mixins';

.tabs {
  position: relative;

  &-heading {
    @include heading();
  }

  &-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 39px;
    z-index: 150;
    width: 100%;

    overflow: hidden;

    &-list {
      position: relative;
      left: 0;
      padding: 0;
      margin: 0;
      width: 2000px;

      list-style: none;
      overflow: hidden;
    }

    &-item {
      display: inline;
      float: left;
      margin-left: 5px;
      height: 21px;
      top: 4px;
      padding: 7px 10px 7px 10px;

      border-width: 2px 2px 0 2px;
      border-style: solid;
      border-color: $border-color;
      background: $background-color;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;

      a {
        color: $text-color;
      }

      &.is-active,
      &.is-active a,
      &.is-active:hover {
        cursor: default;
        background: $background-active-color;
      }

      &.is-active,
      &.is-active:hover {
        border-bottom: none;
        padding-bottom: 9px;
      }

      &.is-active:hover {
        a {
          color: $text-color;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background: $background-hover-color;

        a {
          color: $text-hover-color;
          text-decoration: none;
        }
      }
    }

    &-switcher {
      position: absolute;
      top: 0;
      height: 35px;
      width: 15px;

      border: 2px solid $border-color;
      background: $background-color;
      cursor: pointer;

      &-right {
        right: 0;
      }

      &-left {
        left: 0;
        &:before {
          content: $fa-var-chevron-left;
          margin-left: -4px;
        }
      }

      &:before {
        left: 50%;
        margin-left: -3px;
        padding: 7px 0;

        font-size: 12px;
        @include font-awesome($fa-var-chevron-right);
      }
    }
  }

  &-content {
    @include innerspace();
    position: relative;
    top: -2px;
    z-index: 100;

    @include frame();
    background: $background-active-color;
    overflow: hidden;
  }
}

.tabMenuItem {
  margin-bottom: 0;
}

.no-js {
  .tabs {
    > .component-content {
      padding-top: 0;
    }

    &-nav {
      display: none;
    }

    &-content {
      display: block !important;
      visibility: visible !important;
    }
  }
}