@import '../core/mixins'; 
 
.hospitalSearch .hospitalSearch-province ul li, .hospitalSearch-city ul li{
	list-style-type: none;
	display:inline-block;
}
.hospitalSearch .hospitalSearch-province ul li button, 
.hospitalSearch-city ul li button, .hospitalSearch button.hospitalSearch-submit{
    @include btn;
}

.hospitalSearch-city ul li button{
	display: none;
}
.hospitalSearch .hospitalSearch-province ul li button.active, 
.hospitalSearch-city ul li button.active{
     background-color: #115A64; 
}
.hospitalSearch .hospitalSearch-type label{
	margin-right: 20px;
	vertical-align: middle;
}
.hospitalSearch .hospitalSearch-result-list ul li{
	list-style-type: none;
	display:inline-block;
	margin-right:20px;
	vertical-align: top;
}
.hospitalSearch .hospitalSearch-result-list ul li p{
	margin:2px 0;
}
.hospitalSearch .hospitalSearch-pagination {
    cursor: default;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.hospitalSearch .hospitalSearch-result-list{ 
    margin-top: 10px;
}
.hospitalSearch .hospitalSearch-pagination-item {
    cursor: default;
    display: inline-block;
    margin: 1px;
    border:solid 1px #e0e0e0;
    padding:5px 10px;
}
.hospitalSearch .hospitalSearch-results .hospitalSearch-input{
    padding:4px 5px;
    width:200px;
}
.hospitalSearch .hospitalSearch-province, .hospitalSearch .hospitalSearch-city, 
.hospitalSearch .hospitalSearch-results{
	display:none;
}
