@import '../core/mixins'; 
 
.pcodeloginpanel{
   .passcodeButton{
		@include btn;
	}
	input[type=text]{ 
		padding: 4px 0;
	}
	.errorPasscode{
			margin-top:3px; 
	}
	.hidePasscodeError{
		display:none;
	 }
}
